.contacto{
    background-color: var(--color-background);
    color: var(--color-letra);
    padding: 50px 0;
}

.contacto .contenido__seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--color-background2);
    color: var(--color-letra);
    font-size: 18px;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--color-letra);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: var(--color-letra);
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-titulo);
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto iframe{
    width: 100%;
}

.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: var(--color-background2);
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-100px, 200px );
}

.contacto .col .info ul{
    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: var(--color-titulo);
    display: inline-block;
    margin-right: 20px;
}