@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:ital,wght@0,700;1,300&family=Raleway&family=Righteous&family=Roboto:wght@100&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,600;1,800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


:root{
    --color-background: #1e2326;
    --color-background2: #252a2e;
    --color-background3: #131517;
    --color-titulo: #0A9396;  
    --color-letra: #fff;
}