.portafolio{
    background-color: var(--color-background);
    color: var(--color-letra);
    padding: 50px 20px;
}

.portafolio .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.portafolio h2{
    font-size: 48px;
    font-family: "Righteous";
    text-align: center;
    padding: 20px 0;
}